:root{
    --bg-color-primary:#f3f3f3;
    --bg-color-secondary:rgb(53, 90, 193);
    --font-family:'Montserrat', sans-serif;
    --color-secondary:rgb(0, 30, 80);
    --color:#f3f3f3;

    font-family: var(--font-family);
    /* background-color: var(--bg-color-primary); */
    background-color: var(--color-secondary);
    box-sizing: border-box;
    scroll-behavior: smooth;   
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0em;
    height: 0em;
}

body {
    margin: 0px;
}

.material-symbols-outlined {
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    color: var(--color-secondary);
}

.arrow {
    position: absolute;
}

.rider-img{
    border-radius: 20px;
    max-width: 100%;
    width: auto;
    box-shadow: -10px 13px 28px -1px rgba(0,0,0,0.34);
    -webkit-box-shadow: -10px 13px 28px -1px rgba(0,0,0,0.34);
    -moz-box-shadow: -10px 13px 28px -1px rgba(0,0,0,0.34);
}

.image-div{
    max-width: 100%;
    height: auto;
    background-color: var(--bg-color-primary);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 2em;
    align-self: center;
    top: 0px;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding: 5em;
    padding-top: 0px;
    scroll-snap-type: y mandatory;
}

.first-section{
    gap: 2em;
    background-color: var(--color-secondary);
    align-items: center;
    color: var(--color-secondary);
    position: sticky;
    top: 0px;
    padding-bottom: 2em;
}

.first-section-nested {
    padding: 2em;
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--bg-color-primary);
    border-radius: 20px;
}

.main-title {
    display: grid;
    grid-template-rows: auto auto;
    font-weight: bold;
    gap: 1em;
    justify-self: start;
    border-radius: 20px;
    padding: 2em;
    background-color: var(--bg-color-secondary);
    color: var(--color);
    box-shadow: -10px 11px 19px -8px rgba(0,0,0,0.64);
    -webkit-box-shadow: -10px 11px 19px -8px rgba(0,0,0,0.64);
    -moz-box-shadow: -10px 11px 19px -8px rgba(0,0,0,0.64);
}

.button-cluster {
    justify-self: end;
    display: grid;
}

.up-down{
    display: grid;
    grid-template-rows: auto auto;
    gap: 4em;
}

.up-btn {
    align-self: self-start;
}

.down-btn {
    align-self: self-end;
}

.up-btn, .down-btn {
    font-size: 50px !important;
    padding: 0.3em;
    border-radius: 20px;
    background-color: var(--bg-color-secondary);
    color: var(--color);box-shadow: -10px 11px 19px -8px rgba(0,0,0,0.64);
    -webkit-box-shadow: -10px 11px 19px -8px rgba(0,0,0,0.64);
    -moz-box-shadow: -10px 11px 19px -8px rgba(0,0,0,0.64);
    transform: scale(1);
    transition-timing-function: ease-in-out;
}

.up-btn:hover,.down-btn:hover{
    transform: scale(1.05);
}

.title1{
    font-size: 70px;
}

.title2{
    font-size: 40px;
}

.second-title {
    font-size: 25px;
    color: var(--color-secondary);
}

.second-section{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2em;
    overflow-y: scroll;
    height: 491px;
    margin-bottom: 4em;
}

.text-section{
    background-color: var(--bg-color-secondary);
    overflow: scroll;
    align-items: center;
    border-radius: 20px;
    padding: 2em;
    color: var(--color);
    display: flex;
    font-size: 27px;
    line-height: 35px;
}

.features-title {
    display: grid;
    align-items: center;
    justify-content: start;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 25px;
}

.features-div {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2em;
    background-color: var(--bg-color-secondary);
    border-radius: 20px;
    padding: 2em;
    color: var(--color);
    overflow: scroll;
    align-items: center;
    margin-bottom: 2em;
}

.feature-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.feature {
    background-color: var(--bg-color-primary);
    border-radius: 20px;
    padding: 2em;
    color: var(--color-secondary);
    box-shadow: -10px 13px 28px -1px rgba(0,0,0,0.34);
    -webkit-box-shadow: -10px 13px 28px -1px rgba(0,0,0,0.34);
    -moz-box-shadow: -10px 13px 28px -1px rgba(0,0,0,0.34);
    display: grid;
    align-items: center;
    gap: 1em;
    overflow: hidden;
}

.feature img {
    width: 300px;
    border-radius: 20px;
    justify-self: center;
    box-shadow: -10px 13px 28px -1px rgba(0,0,0,0.34);
    -webkit-box-shadow: -10px 13px 28px -1px rgba(0,0,0,0.34);
    -moz-box-shadow: -10px 13px 28px -1px rgba(0,0,0,0.34);
}

