:root{
    --bg-color-primary:#f3f3f3;
    --bg-color-secondary:rgb(53, 90, 193);
    --font-family:'Montserrat', sans-serif;
    --color-secondary:rgb(2, 30, 80);
    --color:#f3f3f3;

    font-family: var(--font-family);
    background-color: var(--color-secondary);
    box-sizing: border-box;
    scroll-behavior: smooth;   
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0em;
    height: 0em;
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

.material-symbols-outlined {
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    color: var(--color-secondary);
}

.arrow {
    position: absolute;
}

.rider-img{
    border-radius: 20px;
    box-shadow: -10px 13px 28px -1px rgba(0,0,0,0.34);
    -webkit-box-shadow: -10px 13px 28px -1px rgba(0,0,0,0.34);
    -moz-box-shadow: -10px 13px 28px -1px rgba(0,0,0,0.34);
}

.image-div{
    background-color: var(--bg-color-primary);
    border-radius: 20px;
    padding: 2em;
}

.container{
    padding-inline: 5em;
    display: grid;
    grid-template-rows: 2fr 3fr;
    gap: 2em;
    height: 100dvh;
}

.first-section {
    padding: 2em;
    display: grid;
    grid-template-columns: auto 1fr auto;
    position: relative;
}

.first-section::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url(images/MT_09_action-transformed.jpeg);
    opacity: 0.8;
}

.main-title {
    display: grid;
    grid-template-rows: auto auto;
    font-weight: bold;
    gap: 1em;
    justify-self: start;
    border-radius: 15px;
    padding: 2em;
    background-color: var(--bg-color-secondary);
    color: var(--color);
    box-shadow: -10px 11px 19px -8px rgba(0,0,0,0.64);
    -webkit-box-shadow: -10px 11px 19px -8px rgba(0,0,0,0.64);
    -moz-box-shadow: -10px 11px 19px -8px rgba(0,0,0,0.64);
}

.nav-cluster {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items:stretch;
    justify-self: end;
    justify-content: center;
    margin-right: 2em;
    gap: 1em;
}

.nav-cluster div {
    background-color: var(--bg-color-secondary);
    color: var(--color);
    padding: 1rem;
    border-radius: 15px;
    justify-content: center;
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--color);box-shadow: -10px 11px 19px -8px rgba(0,0,0,0.64);
    -webkit-box-shadow: -10px 11px 19px -8px rgba(0,0,0,0.64);
    -moz-box-shadow: -10px 11px 19px -8px rgba(0,0,0,0.64);
}

.active {
    font-size: larger;
    text-decoration: underline;
}

.button-cluster {
    justify-self: end;
    display: grid;
}

.up-down{
    display: grid;
    grid-template-rows: auto auto;
    gap: 1em;
}

.up-btn {
    align-self: self-start;
}

.home-btn{
    align-self: center;
}

.down-btn {
    align-self: self-end;
}

.up-btn, .down-btn, .home-btn {
    font-size: 50px !important;
    padding: 0.3em;
    border-radius: 15px;
    background-color: var(--bg-color-secondary);
    color: var(--color);box-shadow: -10px 11px 19px -8px rgba(0,0,0,0.64);
    -webkit-box-shadow: -10px 11px 19px -8px rgba(0,0,0,0.64);
    -moz-box-shadow: -10px 11px 19px -8px rgba(0,0,0,0.64);
    transform: scale(1);
    transition-timing-function: ease-in-out;
}

.up-btn:hover,.down-btn:hover, .home-btn:hover, .nav-cluster div:hover{
    transform: scale(1.05);
}

.title1{
    font-size: 70px;
}

.title2{
    font-size: 40px;
}

.second-title {
    font-size: 25px;
    color: var(--color-secondary);
}

.scroll-container {
    display: grid;
    justify-content: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
    align-items: stretch;
    gap: 2em;
    height: 520px;
    grid-template-rows: 1fr 1fr 1fr;
}

.scroll-first{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2em;
}

.text-section{
    background-color: var(--bg-color-secondary);
    align-items: center;
    border-radius: 20px;
    padding: 2em;
    color: var(--color);
    display: flex;
}

.scroll-second{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 5em;
}

.scroll-second-text{
    background-color: var(--bg-color-primary);
    padding: 2em;
    border-radius: 20px;
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
    box-shadow: -10px 11px 19px -8px rgba(0,0,0,0.64);
    -webkit-box-shadow: -10px 11px 19px -8px rgba(0,0,0,0.64);
    -moz-box-shadow: -10px 11px 19px -8px rgba(0,0,0,0.64);
}

.scroll-second-nested{
    padding: 2em;
    background-color: var(--bg-color-secondary);
    border-radius: 20px;
    display: grid;
    align-content: center;
    grid-template-columns: auto 1fr;
    gap: 2em;
}

.what-you-get-prompt{
    background-color: var(--bg-color-primary);
    padding: 1em;
    font-size: 55px;
    font-weight: bolder;
    border-radius: 20px;
    color: var(--color-secondary);
    justify-self: start;
    justify-content: space-around;
    display: grid;
    gap: 0.2em;
    text-align: center;
    align-self: center;
    align-items: center;
    box-shadow: -10px 11px 19px -8px rgba(0,0,0,0.64);
    -webkit-box-shadow: -10px 11px 19px -8px rgba(0,0,0,0.64);
    -moz-box-shadow: -10px 11px 19px -8px rgba(0,0,0,0.64);
}

.scroll-third{
    display: grid;
    align-items: start;
    color: var(--color);
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2em;
    margin-bottom: 4em;
}

.third-title{
    background-color: var(--bg-color-primary);
    color: var(--color-secondary);
    border-radius: 20px;
    padding: 1em;
    font-size: 27px;
    font-weight: bolder;
    text-transform: uppercase;
}

.third-text{
    background-color: var(--bg-color-secondary);
    border-radius: 20px;
    padding: 2em;
    color: var(--color);
    font-size: 20px;
    display: grid;
    grid-template-columns: 5fr 4fr;
    gap: 2em;
}

.third-text div {
    align-content: center;
}

.third-text-nested{
    display: grid;
    grid-template-rows: auto;
    gap: 0.5em;
}

.third-text-nested-2{
    align-self: center;
    line-height: 35px;
}

/* @media (max-width: 800px) {
    :root{
        background-color: red;
    }
}   */

.colorway-text {
    font-size: 2em;
}

.lighting-section{
    display: grid;
    justify-content: center;
    grid-template-rows: auto auto;
    align-items: center;
}

.lighting-title{
    display: grid;
    justify-content: center;
    font-size: 3rem;
    align-self: end
}

.lighting-text{
    padding: 2rem;
    font-size: 1.5rem;
}